.form-type-item{
 display:inline-block;
 padding:5px;
}

.field-name-field-marcador-1{
 display:inline-block;
}

.field-name-field-marcador-2{
 display:inline-block;
}

# .form-type-select{
#  display:inline;
# }

# #edit-field-partido-und-0-field-e1-und-0{
#  display:inline-block;
#  color:#00ff00;
# }

# #edit-field-partido-und-0-field-e2-und-0{
#  display:inline-block;
#  color:#ff0000;
# }



; <input type="text" id="edit-field-partido-und-0-field-marcador-1-und-0-value" name="field_partido[und][0][field_marcador_1][und][0][value]" value="1" size="12" maxlength="10" class="form-text" />
; </div>
; </div></div><div id="edit-field-partido-und-0-field-e2-und-0" class="form-item form-type-item">
;   <label for="edit-field-partido-und-0-field-e2-und-0">Croatia </label>

; </div>
; <div class="field-type-number-integer field-name-field-marcador-2 field-widget-number form-wrapper" id="edit-field-partido-und-0-field-marcador-2"><div id="field-partido-und-0-field-marcador-2-add-more-wrapper--2"><div class="form-item form-type-textfield form-item-field-partido-und-0-field-marcador-2-und-0-value">
;   <label class="element-invisible" for="edit-field-partido-und-0-field-marcador-2-und-0-value">Marcador 2 </label>
;  <input type="text" id="edit-field-partido-und-0-field-marcador-2-und-0-value" name="field_partido[und][0][field_marcador_2][und][0][value]" value="1" size="12" maxlength="10" class="form-text" />
; </div>
